body {
    background-color: #bdedfc;
    color: #011e42;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
}

#left-column {
    padding: 20px 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#right-column {
    background-color: #9ee3f7;
    padding: 0rem 2rem;
    min-height: 100vh;
}

h4 {
    color: #579ff7;
    font-weight: 300;
}

#intro {
    margin: 20px 0px;
    text-align: justify;
}

#control-card label {
    font-weight: bold;
    font-size: 18px;
    color: #011e42;
}

#control-card {
    background-color: #8dbdf7;
    border-radius: 0.675rem;
}

.graph_card {
    background-color: white;
    border-radius: 0.675rem;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
}

.graph_card h6 {
    margin:  0 7px;
    padding-bottom: 7px;
    border-bottom:  1px solid #368cf5;
}

#title, #sub-title, #progress-statement {
    margin: auto;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

#progress-statement {
    padding: 1rem;
    background-color: #8dbdf7;
}
