body {
    background-color: #112736;
    color: #b7d3e0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

label {
    font-size: 18px;
}

.columns {
    display: grid;
}

.columns.main {
    grid-template-columns: 1fr 4fr;
}

.columns.four {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.columns.two {
    grid-template-columns: 1fr 1fr;
}

.card {
    background: rgb(75,116,136);
    background: linear-gradient(325deg, rgba(75,116,136,1) 0%, rgba(54,92,112,1) 40%, rgba(42,78,98,1) 100%);
    margin: 10px;
    border-radius: 15px;
    padding: 15px;
}

.header {
    padding: 15px 15px 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 65px;
}

.data {
    display: flex;
    flex-direction: column;
}

#line-graph {
    border-radius: 15px;
    overflow: hidden;
}

.menu h4 {
    margin-top: 10px;
    margin-bottom: 2px;
}

.savings-boxes .card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.savings-boxes img {
    height: 65px;
    width: auto;
}

.savings-boxes h3 {
    font-size: 40px;
}

.savings-boxes span {
    font-size: 20px;
    font-weight: lighter;
}

